<!-- Title-->
    <div class="container">
    	<%= render 'layouts/header' %>
        <div class="intro-container">
            <div class="intro-title">Parallel</div>
            <div class="intro-description"> What if the world didn't turn out the way we expected?
            </div>
            <a href="#" class="button grow">Learn More</a>
            <!--<button id="learn_more">Learn More</button> -->
            <!--<a href="#" class="page-scroll btn btn-xl">Learn More</a> -->
        </div>
    </div>
